@model CRM.Admin.Models.ExternalLoginConfirmationPasswordViewModel
@{
    ViewBag.Title = "Confirmation";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @Session["Provider"] account.</h3>

@using (Html.BeginForm("ExternalLoginCallback", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        You've successfully authenticated with <strong>@Session["Provider"]</strong>. Please enter a user name  and password for this site below and click the Login button to finish logging in.
    </p>
    <label>User name:</label>
        <label>@Session["UserExternal"]</label>
    <div class="row-fluid mt30">
        
        <div class="span12">
            
            <!--Login-->
            <label>User name</label>
            @Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level" })
            @*@Html.ValidationMessageFor(m => m.UserName)*@
            <label>Password</label>
            @*@Html.ValidationMessageFor(m => m.Password)*@
            @Html.PasswordFor(m => m.Password, new { @class = "input-block-level" })
        </div>
        <div class="span12 text-center mt30">
            <input type="submit" class="btn_login_input" value="Login" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
