@model IEnumerable<ContactModel>
@using CRM.Admin;
@using CRM.Admin.Models;

@{
    ViewBag.Title = Caching.GetValue("Contact.Contact");
}

@section styles
{
    @Styles.Render("~/Content/Multiorg_kendo_css")
    <link href="~/Content/css.edit.css" rel="stylesheet" />
    <link href="~/Content/style.kendo.edit.css" rel="stylesheet" />
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li><i class="multi-icon fa icon_house"></i></li>
        <li><a href="#">@Caching.GetValue("Global.Home")</a></li>
        <li class="active">@Caching.GetValue("Contact.Contact")</li>
    </ul>
    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input placeholder="@Caching.GetValue("Global.Search")" class="nav-search-input" id="nav-search-input" autocomplete="off" type="text">
                <i class="multi-icon fa icon_search nav-search-icon" id="btn_search"></i>
            </span>
        </form>
    </div>
</div>

<div class="page-content">
    <div class="page-header">
        <ul class="btn-top pull-right">
            <li>@Html.ActionLink(Caching.GetValue("Contact.AddNew"), "Create", null, new { @class = "add_big" })</li>
            <!--<li><a class="cancel_big" href="#">Cancel</a></li>-->
        </ul>
        <h1>
            @Caching.GetValue("Contact.Contact")
        </h1>

    </div>
    @*<div>
            <input type="text" id="keyword" />
            <input type="button" value="Search" id="btn_search" />
            <input type="button" value="Delete selected record(s)" class="js-btn-delete-selected delete_big" id="btn_search" />
        </div>*@
    <div class="row">
        <div class="col-xs-12" id="grid" style="padding:0; margin:0">
            <table class="table table-striped table-bordered table-hover mb0 mt30">
                <colgroup>
                    @*<col style="width: auto;" />*@
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    
                </colgroup>
                <thead class="k-grid-header">
                    <tr>
                        @*<th class="k-header" data-field="" data-title="" scope="col">
                                <input id='allchecked' class='css-checkbox' type='checkbox' />
                                <label for='allchecked' class='css-labelcheck text_hide'></label>
                            </th>*@
                        <th class="k-header" data-field="DisplayName" data-title="DisplayName" scope="col">@Caching.GetValue("Tenant.ContactName")</th>
                        <th class="k-header hidden-1090" data-field="Email" data-title="Email" scope="col">@Caching.GetValue("Tenant.Email")</th>
                        <th class="k-header hidden-610" data-field="Address" data-title="Address" scope="col">@Caching.GetValue("Contact.Address")</th>
                        <th class="k-header hidden-610" data-field="CreatedDate" data-title="CreatedDate" scope="col">@Caching.GetValue("Contact.CreatedDate")</th>
                        <th class="k-header hidden-410" data-field="Active" data-title="Active" scope="col">@Caching.GetValue("Tenant.Active")</th>
                        <th class="k-header hidden-480" data-field="Customer" data-title="Customer" scope="col">@Caching.GetValue("Customer.Customer")</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="t-no-data">
                        <td colspan="7"></td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" id="confirmDialogTitle" value="Information" />
            @{Html.RenderPartial("~/Areas/Admin/Views/Shared/_GridPager.cshtml");}
        </div>
    </div>
</div>
<style type="text/css">
    #modal {
        text-align: center;
        margin-top: 20px;
    }

    .wr_bottom_popup_s {
        margin-top: 20px;
    }

    .wr_btn_pp {
        width: 48%;
        float: left;
    }
</style>
<script type="text/x-kendo-template" id="active-confirmation">
    <div id="modal">        
        <div id="confirmBox">
            <p class="prompt-mess">@Caching.GetValue("sss")</p>
            <div class="wr_bottom_popup_s">
                <section class="wr_btn_pp" style="margin-right:4%; text-align:right">
                    <button class="delete-confirm btn_delete" type="button">Ok</button>
                </section>
                <section class="wr_btn_pp" style="text-align:left">
                    <button class="delete-cancel btn_cancel" type="button">Cancel</button>
                </section>
            </div>
        </div>
        <p class="show_massage"></p>
    </div>
</script>

<script type="text/x-kendo-template" id="deactive-confirmation">
    <div id="modal">
        <div id="confirmBox">
            <p class="prompt-mess">Do you want to deactive this tenant?</p>
            <div class="wr_bottom_popup_s">
                <section class="wr_btn_pp" style="margin-right:4%; text-align:right">
                    <button class="delete-confirm btn_delete" type="button">Ok</button>
                </section>
                <section class="wr_btn_pp" style="text-align:left">
                    <button class="delete-cancel btn_cancel" type="button">@Caching.GetValue("Global.Cancel")</button>
                </section>
            </div>
        </div>
        <p class="show_massage"></p>
    </div>
</script>

@*@if (null != ViewData["alertMessage"])
{
    var mes = ViewData["alertMessage"].ToString();
    <script type="text/javascript">
        alert("@Html.Raw(mes)");
    </script>
}*@

@section scripts
{
    @Scripts.Render("~/bundles/Multiorg_kendo_script")
    <script type="text/javascript" src="~/Areas/Admin/Scripts/kendo.common.js"></script>
    <script>
        $(document).ready(function () {
            if ($('.manageTenantAD').size() > 0) {
                $('.manageTenantAD').addClass('active');
            }
        });
    </script>
    <script type="text/javascript" src="~/Areas/Admin/Scripts/contact.list.js"></script>
}


